header {
    background-color: #fff;
    border-bottom: 1px solid #cecece;
    padding: 15px 0px;
    .header__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 5px;
            text-decoration: none;
            cursor: pointer;
            color: #2d2d2d;
        }
    }
}

@media screen and (max-width: 600px) {
    header {
        width: 100%;
        // padding: 5px 10px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;
        border-bottom: 0px;
        .header-logo {
            font-size: 20px !important;
            padding-left: 10px;
        }
    }
}
