footer {
    // border-top: 1px solid #cecece;
    padding: 15px 0px;
    background-color: #fff;
}
.footer__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #c4c4c4;
}

.footer-logo {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 5px;
    color: #c4c4c4;
    cursor: pointer;
    text-decoration: none;
}

.footer-copy {
    .copy-logo {
        display: flex;
    }
    font-size: 18px;
    display: flex;
    align-items: center;
    svg {
        margin-right: 10px;
    }
}

@media screen and (max-width: 600px) {
    footer {
        padding: 0px 10px;
    }
    .footer__inner {
        flex-direction: column;
        text-align: left;
        align-items: flex-start;
    }

    .footer-logo {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .footer-copy {
        margin-top: 10px;
    }
}
