<swiper [config]='config'>
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="slider__item">
                <div class="slide-img">
                    <img src="../../../../assets/main-slider/slide1.jpg" alt="">
                </div>
                <div class="h_shadow"></div>
                <div class="slide-title">
                    Авторские картины
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slider__item">
                <div class="slide-img">
                    <img src="../../../../assets/main-slider/slide2.jpg" alt="">
                </div>
                <div class="h_shadow"></div>
                <div class="slide-title">
                    Авторские картины
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="slider__item">
                <div class="slide-img">
                    <img src="../../../../assets/main-slider/slide3.jpg" alt="">
                </div>
                <div class="h_shadow"></div>
                <div class="slide-title">
                    Авторские картины
                </div>
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</swiper>