<div class="callback-form">
    <div class="callback-form-title title">
        Оставить отзыв
    </div>
    <form>
        <div class="form-group">
            <input type="text" class="form-input" placeholder="Ваше имя...">
        </div>
        <div class="form-group">
            <input type="text" class="form-input" placeholder="Ваша почта...">
        </div>
        <div class="form-group">
            <textarea type="text" class="form-input" cols="10" rows="2" placeholder="Ваш отзыв..."></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="form-btn btn">Отправить</button>
        </div>
    </form>
</div>