.art-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    & > * {
        width: 31.333%;
    }
}

@media screen and (max-width: 600px) {
    .art-list {
        flex-direction: column;

        & > * {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}
