.art-create-page {
    // display: flex;
    // justify-content: space-between;
}
.create-form {
    width: 45%;
    margin-bottom: 30px;
}

.create-list {
    // width: 50%;
}


@media screen and(max-width:600px){
    .art-create-page {
        display: flex;
        flex-direction: column;
        .create-form {
            width: 100%;
            padding-top: 25px;
        }
        .art-create-title {
            font-size: 20px;
        }
    }
    .create-list {
        padding: 0px 10px;
    }
}