.callback-list {
    display: flex;
    flex-direction: column;
    & > * {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

@media screen and (max-width: 600px) {
    .callback-list {
        padding: 0px 10px;
        & > * {
            margin-bottom: 20px;
        }
    }
}
