.callback-card {
    font-size: 22px;
    .callback-detail {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        font-weight: 700;
        .card-date {
            color: #818181;
            width: 22%;
        }
        .card-title {
            width: 80%;
        }
    }
}

@media screen and (max-width:600px){
    .callback-detail {
        flex-direction: column;
        margin-bottom: 5px;
        .card-date {
            margin-bottom: 5px;
            font-size: 18px;
        }
        .card-title {
            font-size: 20px;
        }
    }
    .card-text {
        font-size: 18px;
    }
    .card-date, .card-title {
        width: 100% !important;
    }
}