.comments-table {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    table {
        table-layout: fixed;
        border-collapse: collapse;
        thead {
            tr > th {
                text-align: left;
                width: 100px;
                padding: 0px 10px;
                font-size: 19px;
                &.text {
                    width: 250px;
                }
            }
        }
        tbody {
            tr > td {
                font-size: 18px;
                border-bottom: 1px solid #cecece;
                padding: 20px 10px;
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .comments-table {
        overflow-x: auto;

    }
}
