<div class="contacts container">
    <div class="contacts-info">
        <div class="info-title">
            Привет!<br>
            Меня зовут <span class="name">Преображенская Екатерина </span>
            <br>я молодой художник Казахстана, но ты знаешь меня как
            moya_epitafiya<br>

            <div class="text">На этом сайте собраны мои оригинальные картины, старые и новые.</div>
            Все мои работы созданы с любовью!
            Надеюсь, они смогут вас порадовать и украсить ваш интерьер.
        </div>
        <div class="info-phone">
            Katyagross13713@gmail.com

            <div class="phone">
                Moya_epitafiya inst
            </div>

        </div>
        <div class="info-social">
            <app-social-bar></app-social-bar>
        </div>
    </div>
    <div class="contact-image">
        <img src="../../../../assets/contacts/contacts.png" alt="">
    </div>
</div>