<div class="contacts container">
    <div class="contacts-info">
        <div class="info-title">
            <div class="info-part">
                Привет!
            </div>
            <div class="info-part">
                Меня зовут <span class="name">Преображенская Екатерина </span>
            </div>
            <div class="info-part">
                Я молодой художник Казахстана, но ты знаешь меня как
                <span class="name"> moya_epitafiya </span>
            </div>
            <div class="text">На этом сайте собраны мои оригинальные картины, старые и новые</div>
            <div class="info-part">
                Все мои работы созданы с любовью!
                Надеюсь, они смогут вас порадовать и украсить ваш интерьер
            </div>
        </div>
        <div class="info-phone">
            Katyagross13713@gmail.com

            <div class="phone">
                @Moya_epitafiya
            </div>

        </div>
        <div class="info-social">
            <app-social-bar></app-social-bar>
        </div>
    </div>
    <div class="contact-image">
        <img src="../../../../assets/contacts/contacts.png" alt="">
    </div>
</div>